
  <mat-toolbar class="header-toolbar" color="primary">
    <mat-toolbar-row>
      <div class="container">
        <div class="row between-xs middle-xs header-row">
          <nav class="example-spacer">
            <a mat-button routerLink="consulta" routerLinkActive="active">Home</a>
            <a mat-button routerLink="/consulta" routerLinkActive="active"
              >Consulta</a>
            <a mat-button routerLink="/registro" routerLinkActive="active"
              >Registro</a>
            <a mat-button routerLink="/edicion/1" routerLinkActive="active"
              >Edicion</a>  
          </nav>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  